<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <title>Administration</title>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Discovery Galaxy</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/planets">Planets</a></li>
            <li class="active"><a href="/routes">Routes</a></li>
            <li class="active"><a href="/traffic">Traffic</a></li>
            <li class="active"><a href="/paths">Paths</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin"> <span class="glyphicon-user"></span>Admin</a></li>
        </ul>
    </div>
</nav>
<br/>

<div class="container">
    <h3>What would you like to alter?</h3>

    <div>
        <p style="color: red">Warning!!! these operations will alter data and cannot be reversed.</p>
    </div>
    <br/>

    <div>
        <button class="btn btn-danger" onclick="window.location.href='/planetManipulation'">Planets</button>
    </div>
    <br/>

    <div>
        <button class="btn btn-danger" onclick="window.location.href='/routeManipulation'">Routes</button>
    </div>
    <br/>

    <div>
        <button class="btn btn-danger" onclick="window.location.href='/trafficManipulation'">Traffic</button>
    </div>

</div>


</body>

</html>