<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Delete Planet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mystyle.css"/>
    <script type="text/javascript" src="/js/deletePlanet.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/menu">Discovery Galaxy</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/menu">Menu</a></li>
        </ul>
    </div>
</nav>
<br/>

<div>
    <h2>Please select a planet to delete: </h2>

    <select class="selectpicker" id="deleteDropDown" onchange="deletePlanet()">
        <tr th:each="e,iterationStatus  : ${vertices}">
            <option th:value="${e.name}" th:text="${e.name}"></option>
        </tr>
    </select>
</div>

</body>

</html>