<!DOCTYPE html>
<html>

<head>

</head>

<body>

<div>
    <h3>Hi there, What do you wish to do?</h3>

    <div>
        <button type="button" onclick="location.href='/query'">Query Paths</button>
    </div>
    <br/>

    <div>
        <button type="button" onclick="location.href='/update'">Update Planet</button>
        <button type="button" onclick="location.href='/create'">Add Planet</button>
        <button type="button" onclick="location.href='/delete'">Delete Planet</button>
    </div>
    <br/>

    <div>
        <button type="button" onclick="location.href='/updateRoute'">update Route</button>
        <button type="button" onclick="location.href='/createRoute'">Add Route</button>
        <button type="button" onclick="location.href='/deleteRoute'">Delete Route</button>
    </div>
    <br/>

    <div>
        <button type="button" onclick="location.href='/updateTraffic'">update Traffic</button>
        <button type="button" onclick="location.href='/createTraffic'">Add Traffic</button>
        <button type="button" onclick="location.href='/deleteTraffic'">Delete Traffic</button>
    </div>

</div>

</body>

</html>