<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <title>Planet Manipulation</title>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Discovery Galaxy</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/planets">Planets</a></li>
            <li class="active"><a href="/routes">Routes</a></li>
            <li class="active"><a href="/traffic">Traffic</a></li>
            <li class="active"><a href="/paths">Paths</a></li>
        </ul>
    </div>
</nav>

<div class="container" id="planetEdit">


</div>

<div class="container" id="planetCreate">
    <form class="form-inline" th:action="@{/editPlanet}" th:object="${planet}" method="post">

        <div class="form-group">
            <label>New Planet Node</label>
            <input class="form-control" type="text" th:field="*{node}" name="node"/>
        </div>

        <div class="form-group">
            <label>New Planet name :</label>
            <input type="text" class="form-control" th:field="*{name}" name="node"/>
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
    </form>

</div>

<div class="container" id="planetDelete">


</div>

</body>

</html>