<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <title>Configure Traffic</title>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Discovery Galaxy</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/planets">Planets</a></li>
            <li class="active"><a href="/routes">Routes</a></li>
            <li class="active"><a href="/traffic">Traffic</a></li>
            <li class="active"><a href="/paths">Paths</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin"> <span class="glyphicon-user"></span>Admin</a></li>
        </ul>
    </div>
</nav>

<div th:switch="${message}" class="container">
    <p th:case="'Success!'" style="color: green" th:text="${message}"/>

    <p th:case="*" style="color: red" th:text="${message}"/>
</div>

<div class="container" id="trafficEdit">
    <h3>Edit traffic :</h3>

    <form class="form-inline" th:object="${trafficDTO}" th:action="@{/editTraffic}" method="post">

        <div class="form-group">
            <label>Target Traffic :</label>
            <select th:field="*{trafficId}">
                <option th:each="t : ${traffic}" th:value="${t.trafficId}"
                        th:text="${t.origin.name} +' --> ' + ${t.destination.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label>Origin :</label>
            <select th:field="*{origin}">
                <option th:each="p : ${planets}" th:value="${p.name}" th:text="${p.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label>Destination :</label>
            <select th:field="*{destination}">
                <option th:each="p : ${planets}" th:value="${p.name}" th:text="${p.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label>Delay :</label>
            <input class="form-control" type="number" step="any" th:field="*{delay}"/>
        </div>

        <button type="submit" class="btn btn-warning">Submit</button>
    </form>
</div>
<br/>

<div class="container" id="createTraffic">
    <h3>Create traffic :</h3>

    <form class="form-inline" th:object="${trafficDTO}" th:action="@{/createTraffic}" method="post">

        <div class="form-group">
            <label>Origin :</label>
            <select th:field="*{origin}">
                <option th:each="p : ${planets}" th:value="${p.name}" th:text="${p.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label>Destination :</label>
            <select th:field="*{destination}">
                <option th:each="p : ${planets}" th:value="${p.name}" th:text="${p.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label>Delay :</label>
            <input class="form-control" type="number" step="any" th:field="*{delay}"/>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
<br/>

<div class="container" id="deleteTraffic">

    <h3>Delete traffic :</h3>

    <form class="form-vertical" th:object="${trafficDTO}" th:action="@{/deleteTraffic}" method="post">
        <div class="form-group">
            <label>Please select a target traffic</label>
            <select th:field="*{trafficId}">
                <option th:each="t : ${traffic}" th:value="${t.trafficId}"
                        th:text="${t.origin.name} +' --> ' + ${t.destination.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label>Please enter route origin to confirm deletion :</label>
            <input th:field="*{origin}" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <label>Please enter route destination to confirm deletion :</label>
            <input th:field="*{destination}" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" type="submit">Submit</button>
        </div>

    </form>
</div>

</body>

</html>