<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Update Route</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/updateRoute.js"></script>
</head>

<body>

<div>
    <button type="button" onclick="location.href='/menu'">Menu</button>
</div>
<br/>

<div id="errorMessages">

</div>

<div>
    <p>Please select a Route to update</p>
    <select id="updateRouteDropDown" onchange="updateRoute()">
        <option value="null">--SELECT--</option>
        <tr th:each="e,iterationStatus  : ${edges}">
            <option th:value="${e.edgeId}" th:text="${e.origin}+' --> '+${e.destination}+' = '+${e.distance}"></option>
        </tr>
    </select>
</div>

<div id="routeDetails">

</div>

</body>

</html>